
/* --------------   IO　HOMEPAGE CSS   -------------- */

html{
    width: 100%;
    height: 100%;
    /* mogi */
    background-color: cadetblue;
}
/* ---   初期設定   --- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
p {
  line-height: 1;
}


a {
  text-decoration: none;
}

/* -----------------   以下HOMEPAGE本体編集部分   ----------------- */
body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',"YuGothic",'Yu Gothic','メイリオ'," Meiryo",'ＭＳ Ｐゴシック','MS PGothic';
    background-color: #f3f3f3;
    color: #333;
    margin-right: auto;
    margin-left : auto;
    width: 100%;
    font-size:62.5%;
}


/* ---   ヘッダー　ナビゲーションメニュー   --- */
header.page-header {
    background-color: white;
    opacity: .5;
    width: 100%;

}

.navi {
    width: 300px;
    height: 335px;
    /*---   画面上に固定   ---*/
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 10;/*--   要素重なりを防止   --*/
    /*----------------*/
    /* ----   Flexbox   --- */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* -------------- */
}

.navi li {
    background-color: #F3F3F3;
    opacity: .8;
    width: 265px;
    margin: 0 auto;
}

.navi li a {
    font-size: 2.8rem;
    opacity: .8;
    color: #030303;
    display: block;
    text-align: center;
}

.navi li:hover {
    opacity: 1;
    background-color: cornsilk;
}

.navi li a:hover {
    opacity: 1;

}
/* ---   各リンク文字のデコレーションのみで   ---*/
/* ---   ナビメニューは完成する   ---*/
/* ---   クリック時のアニメーションや、CSSの追加の検討   ---*/




/* ---   共有コンテンツ指定   --- */
main div.contents{
    /* mogi */
    background-color: darkseagreen;
    width: 100%;
    height: 100%;
}

/* ------   homeタイトル   ------ */
div#home {
    width: 100%;
    height: 763px;
}

/* ------   dreamタイトル   ------ */
div#dream {
    /* mogi */
    background-color: darkgrey;
    width: 100%;
    height: 100%;
}

div#dream h1 {
    background-color: #E3A44E;
    width: 100%;
    height: 100%;
    font-size: 15rem;
    color: #F3F3F3;
    letter-spacing: -30px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    border-bottom: 10px solid;
}

div#dream h1 #Dmax {
    font-size: 26rem;
}
/* ---   プロフィール部分   --- */
div.profile {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 300px;
    background: peachpuff;   /* mogi */
    display: flex;
    justify-content: center;

}

div.myicon {
    background: #F8EB65;/* mogi */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 35px;
    margin-top: 10px;
    border: #333 2px solid;
    box-shadow: 5px 2px 4px gray ;
}

div.myicon img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

div.text {
    background: powderblue;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #555;
    box-sizing: border-box;
    box-shadow: 5px 2px 4px gray ;
}

div.text:before {
    content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

div.text:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid #555;
    z-index: 1;

}

div.text p {
     margin: 0;
    padding: 0;
    font-size: 1.6rem;
}



/* ------   skillsタイトル   ------ */

div#skills h1 {
    background-color: #F8EB65;
    width: 100%;
    height: 100%;
    font-size: 15rem;
    color: #555555;
    letter-spacing: -20px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    border-bottom: 10px solid;
}

div#skills h1 #Smax {
    font-size: 26rem;
}

.language p {
    line-height: 15px;
}

div.skill-icon {
    background: #E3A44E;
    width: 90%;
    height: 1000px;
    margin: 0 auto;
    margin-top: 300px;
    padding-left: 250px;
    display: flex;
    flex-wrap: wrap;
}
/*
div.skill-icon div.language {
    background: #FFF;
    width: 450px;
    height: 300px;
    margin: 0 25px;
} */

span.lang-text {
    display: block;
    margin-top: 125px;
}
.language
        {
            display: block;
            width: 450px;
            height: 300px;
            margin: 0 25px;
            line-height: 32px;
            background-color: #3692ff;
            color: #fff;
            text-align: center;
            transition-duration: .7s;
            font-size: 1.6rem;
        }



        .language.active {
            background-color: #ccc;
        }

        .language > span:last-of-type,
        .language.active > span:first-of-type
        {
            display: none;
        }

        .language.active > span:last-of-type {
            display: inline-block;
        }



/* ------   portfolioタイトル   ------ */

div#portfolio h1 {
    background-color: #305089;
    width: 100%;
    height: 100%;
    font-size: 14rem;
    color: #F3F3F3;
    letter-spacing: -25px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    border-bottom: 10px solid;
}

div#portfolio h1 #Pmax {
    font-size: 26rem;
    letter-spacing: -150px;
}

div.portfolio-contents {
    width: 100%;
    height: 300px;
}

/* ------   contactタイトル   ------ */
div#contact h1 {
    background-color: #6A397D;
    width: 100%;
    height: 100%;
    font-size: 15rem;
    color: #F3F3F3;
    letter-spacing: -25px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    border-bottom: 10px solid;
}

div#contact h1 #Cmax {
    font-size: 26rem;
    letter-spacing: -100px;
}

/* footer */
footer {
    background: #333;
    height: 500px;
}


@media screen and (min-width:480px) {
    /*　画面サイズが480pxからはここを読み込む　*/
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/

}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/

}
